{% extends "base.html" %}
<!-- head -->
{% block head %}
<title>Home</title>
{% endblock %}
<!-- head -->
<!-- body -->
{% block body %}
<section class="dashboard">
  <nav class="nav">
    <ul class="nav__items">
      <li class="nav__item nav__item--selected">
        <h1>Home</h1>
      </li>
      <li class="nav__item">
        <a href="/regions">Regions</a>
      </li>
    </ul>
  </nav>
  <article class="weather-card">
    <div class="weather-card__wrapper">
      <p class="weather-card__date">{{current_weather.date}}</p>
      <div class="weather-card__column weather-card__column--top">
        <figure class="weather-card__weather-img">
          <img
            src="{{url_for('static', filename='img/' + current_weather.icon + '.png')}}"
            alt="weather icon: {{current_weather.description}}"
          />
        </figure>
        <p class="weather-card__temp">{{current_weather.temp}}<sup>°C</sup></p>
      </div>
      <div class="weather-card__column">
        <p>{{current_weather.description | title}}</p>
        <p>
          <i class="fas fa-map-marker-alt mg-r4"></i
          >{{current_weather.location}}
        </p>
      </div>
    </div>
  </article>
  <ul class="weather-forecast">
    {% for forecast in weather_forecast %}
    <li class="weather-forecast__item">
      <figure class="weather-forecast__item-img">
        <img
          src="{{url_for('static', filename='img/' + forecast.icon + '.png')}}"
          alt=""
        />
      </figure>
      <div class="weather-forecast__item-info">
        <p class="weather-forecast__item-date">{{forecast.date}}</p>
        <p class="weather-forecast__item-weather">{{forecast.description}}</p>
        <p class="weather-forecast__item-temp">{{forecast.temp}}°</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
