{% extends "base.html" %}
<!-- head -->
{% block head %} {% endblock %}
<!-- head -->
<!-- body -->
{% block body %}
<section class="dashboard">
  <nav class="nav">
    <ul class="nav__items">
      <li class="nav__item">
        <h1><a href="/">Home</a></h1>
      </li>
      <li class="nav__item nav__item--selected">
        <a href="/regions">Regions</a>
      </li>
    </ul>
  </nav>
  <article class="weather-card weather-card--regions">
    {% if not pref_weather.location %}
    <p class="weather-card__pref">
      <i class="fas fa-map-marker-alt mg-b4 mg-r4"></i>{{pref_weather}}
    </p>
    {% else %}
    <p class="weather-card__selected-pref">
      <i class="fas fa-map-marker-alt mg-b4 mg-r4"></i>{{pref_weather.location}}
    </p>
    <figure class="weather-card__pref-weather">
      <img
        src="{{url_for('static', filename='img/' + pref_weather.icon + '.png')}}"
        alt="weather icon: {{pref_weather.description}}"
        class="weather-card__pref-weather-img"
      />
    </figure>
    <p class="weather-card__selected-pref-temp">test<sup>°C</sup></p>
    <ul class="weather-card__details">
      <li class="weather-card__detail">
        <p class="weather-card__detail-title">Max</p>
        <p>test°</p>
      </li>
      <li class="weather-card__detail">
        <p class="weather-card__detail-title">Min</p>
        <p>test°</p>
      </li>
      <li class="weather-card__detail">
        <p class="weather-card__detail-title">Humidity</p>
        <p>test%</p>
      </li>
      <li class="weather-card__detail">
        <p class="weather-card__detail-title">Wind</p>
        <p>{{pref_weather.wind}}km/h</p>
      </li>
    </ul>
    {% endif %}
  </article>
  <form action="#" method="post">
    <select name="prefecture" id="prefecture" class="location-select">
      <option value="">Please select a prefecture</option>
      {% for prefecture in prefectures %}
      <option value="{{prefecture}}" class="location-select__option">
        {{prefecture}}
      </option>
      {% endfor %}
    </select>
    <button class="btn-submit" type="submit">Submit!</button>
  </form>
</section>
{% endblock %}
<!-- body -->
