* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.6rem;
}
.img {
  max-width: 100%;
  height: auto;
}
.dashboard {
  height: 100vh;
  padding: 32px 20px;
  overflow: scroll;
  background: rgb(210, 238, 255);
  background: linear-gradient(
    180deg,
    rgba(210, 238, 255, 1) 0%,
    rgba(147, 212, 255, 1) 27%,
    rgba(114, 186, 255, 1) 58%,
    rgba(107, 151, 255, 1) 100%
  );
}
.nav {
  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 60%;
    margin: 0 auto 24px;
    padding: 0;
    list-style: none;
  }
  &__item {
    padding: 0 0 4px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    &--selected {
      font-size: 2.8rem;
      border-bottom: solid 1px #fff;
    }
  }
  &__item a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
}
.weather-card {
  margin: 0 0 36px;
  padding: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  &__wrapper {
    padding: 12px;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.23);
    &--regions {
      background: #4175f4;
      color: #fff;
    }
  }
  &__date {
    margin: 0 0 8px;
  }
  &__column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--top {
      position: relative;
      margin: 0 0 12px;
      padding: 0 0 16px;
    }
    &--top::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 2px;
      background: rgb(216, 216, 216);
      border-radius: 100px;
    }
  }
  &__weather-img {
    width: 50%;
  }
  &__weather-img img {
    width: 100%;
  }
  &__temp {
    font-weight: 700;
    font-size: 3.6rem;
  }
  &__temp sup {
    font-weight: 400;
    font-size: 2rem;
  }
  &__selected-pref {
    margin: 0 0 20px;
  }
  &__pref-weather {
    margin: 0 0 8px;
  }
  &__pref-weather-img {
    width: 60%;
  }
  &__selected-pref-temp {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 4rem;
  }
  &__selected-pref-temp sup {
    font-weight: 400;
    font-size: 2rem;
  }
  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px 20px;
    padding: 0;
    list-style: none;
  }
  &__detail {
    padding: 8px 0;
    border-bottom: solid 1px #fff;
  }
  &__detail:nth-child(even) {
    border-left: solid 1px #fff;
  }
  &__detail:nth-child(3) {
    border-bottom: none;
  }
  &__detail:nth-child(4) {
    border-bottom: none;
  }
  &__detail-title {
    font-weight: 700;
  }
}
.weather-forecast {
  max-height: 400px;
  margin: 0;
  padding: 0;
  overflow: scroll;
  list-style: none;
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 16px;
    color: #fff;
  }
  &__item::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background: #fff;
    border-radius: 100px;
  }
  &__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
  }
  &__item-img img {
    width: 40px;
  }
  &__item-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 60px);
  }
  &__item-date {
    font-size: 1.4rem;
  }
  &__item-weather {
    font-weight: 700;
  }
  &__item-temp {
    font-weight: 700;
  }
}
.location-select {
  display: block;
  width: 100%;
  margin: 0 0 24px;
  padding: 4px;
  text-align: center;
  // color: #293b5f;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  // border-bottom: solid 2px #293b5f;
  border-bottom: solid 2px #fff;
  background: none;
}
.location-select:focus {
  outline: none;
}
.btn-submit {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 12px;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  border-radius: 100px;
  background: #4175f4;
  box-shadow: 0px 5px 17px -9px rgba(0, 0, 0, 0.51);
}
// helper class
.mg-r4 {
  margin-right: 4px;
}
.mg-b4 {
  margin-bottom: 4px;
}
